/*============grid-wrapper===========*/
* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-family: "Spartan", sans-serif;
}

body {
  min-height: 100vh;
}

.body-bg {
  background-image: url(/images/bg-pattern-top-mobile.svg),
    url(/images/bg-pattern-bottom-mobile.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.grid-wrapper {
  margin: 0 5%;
  margin-bottom: 5px;
  padding-bottom: 3%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
  grid-auto-rows: minmax(200px, auto);
}

.grid-wrapper > :nth-child(n + 2) {
  /* background: hsl(300, 43%, 22%); */
  border-radius: 0.5em;
  padding: 10px 30px 15px 30px;
}

/*============clients-review===========*/

.profile-info {
  display: flex;
  flex-direction: row;
}

.profile-pic {
  border-radius: 4em;
  width: 45px;
  height: 45px;
  margin: 25px 25px 0 0px;
}

.clients-name {
  color: white;
  margin: 25px 0 5px 0;
  font-size: 15px;
  font-weight: 500;
}

.verified {
  font-size: 14px;
  margin: 0px;
  font-weight: 400;
  color: hsl(333, 80%, 67%);
}

.clients-review {
  color: white;
  font-size: 14px;
  line-height: 25px;
  margin-top: 20px;
}
/*==============header-introduction============*/
.heading-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.description-holder {
  margin-bottom: 30px;
}

.description {
  margin: 0;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  padding: 0 5px;
  color: hsl(303, 10%, 53%);
}

.heading {
  padding: 0 5px;
  margin: 20px 0 20px 0;
  text-align: center;
  color: hsl(300, 43%, 22%);
  font-size: 30px;
  font-weight: 700;
}
/*============5-star-review=========== */
.rating {
  margin: 10px 0 0 0;
  font-size: 13px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

.star-rev {
  padding: 15px 0;
  margin: 1em 0 1em 0;
}

.star-review-container > :nth-child(-n + 3) {
  text-align: center;
  background: hsl(300, 24%, 96%);
  border-radius: 5px;
}

/*==================desktop=================*/

@media (min-width: 811px) {
  /*============grid-wrapper============= */
  html {
    min-height: 100%;
  }

  body {
    min-height: 100vh;
    margin: 0;
  }

  .body-bg {
    background-image: url(/images/bg-pattern-top-desktop.svg),
      url(/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    background-size: 600px;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.2em;
    row-gap: 1em;
    margin: 0 5% 10px 5%;
    padding: 0;
  }

  .grid-box-1 {
    grid-column: 1/4;
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding-top: 3%;
  }

  /*===============grid-box-section==========*/
  .grid-box-2 {
    margin-bottom: 10%;
    padding: 0 5px 0 5px;
  }
  .grid-box-3 {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .grid-box-4 {
    margin-top: 10%;
  }

  /*===============heading-description=============*/

  .heading-container {
    margin: 0 1em 0 0;
    padding-top: 3%;
    display: flex;
    width: 45%;
  }

  .heading {
    margin: 0%;
    width: 90%;
    text-align: start;
  }

  .description {
    text-align: start;
  }

  /*========five-star-review-container=========*/

  .star-review-container {
    padding-top: 3%;
    width: 400px;
  }

  /*================five-star-content-holder===========*/

  .star-container {
    margin: 1px 10px 0 10px;
  }
  .star-rev {
    width: 340px;
    display: flex;
    flex-direction: row;

    padding: 15px 0;
  }

  .star-review-style-1 {
    margin: 0 50px 5% 0;
  }
  .star-review-style-2 {
    margin: 0 5% 5% 5%;
  }
  .star-review-style-3 {
    margin-left: 10%;
  }

  .rating {
    margin-top: 3px;
  }
}

@media (min-width: 949px) {
  .grid-wrapper {
    padding: 5px;
  }

  /*=======star-review======*/
  .star-review-container {
    padding: 3% 0 0 0;
    width: 55%;
  }

  .star-container {
    margin: 1px 10px 0 10px;
  }
  .star-rev {
    width: 85%;
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    justify-content: center;
  }

  .star-review-style-1 {
    margin: 0 0% 5% 5%;
  }
  .star-review-style-2 {
    margin: 0 0% 5% 10%;
  }
  .star-review-style-3 {
    margin: 0 0% 5% 15%;
  }

  .rating {
    margin-top: 3px;
  }

  /*=====header-description=====*/

  .heading-container {
  }

  .heading {
    font-weight: 700;
    font-size: 35px;
    width: 95%;
    margin-bottom: 5%;
    padding: 0;
  }

  .description {
  }

  /*=======grid-wrapper======*/
}

@media (min-width: 1040px) {
  .grid-wrapper {
    margin: 0 10%;
  }

  .heading {
    font-weight: 700;
    font-size: 35px;
    width: 75%;
    margin-bottom: 5%;
  }
}
